  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/add">Добавить модератора</a></li>
  </ul>
  
  <nav>
    <div class="nav-wrapper">
      <a href="/home" class="brand-logo">Поиск Работы ;)</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isHome}}
          <li class="active"><a href="/home">Главная</a></li>
        {{else}}
          <li><a href="/home">Главная</a></li>
        {{/if}}



        {{#if isAuth}}
          {{#if user.isAdmin}}
          <li><a href="/moderator">Добавить модератора</a></li>
          {{else}}
          {{/if}}
            <li><a href="/auth/logout">Log out</a></li>
        {{else}}
          {{#if isLogin}}
            <li class="active"><a href="/auth/login#login">Login</a></li>
          {{else}}
            <li><a href="/auth/login#login">Sign In</a></li>
          {{/if}}
        {{/if}}
      </ul>
    </div>
  </nav>